dataclass_csv==1.4.0
numpy==1.23.5
PyQt6==6.8.1
PyQt6_sip==13.10.0
Shapely==2.0.7
scikit-learn==1.0.2
marllib==1.0.3
ray[default,rllib]>=2.7,<2.13
torch>=1.13
gym>=0.20,<0.22
pettingzoo>=1.24
supersuit>=3.7
cloudpickle==2.0.0
numpy>=1.20
scipy>=1.5
networkx
matplotlib
seaborn
pandas
